$text-color: #ffffff;
$black: #000000;
$dark: #1D1D1D;
$dark-hover: #1f1d1d;
$background-color: rgba(29, 29, 29, 0.73);
$grey: #727272;
$purple: #6d0ec2;
$purple-hover: #3c086b;
$hover-button: rgba(255, 255, 255, 0.15);
$success: #00a340;
$gold: linear-gradient(165deg, #ffdb80 16.44%, #ac9c71 63.42%);

$main-font: "Roboto", sans-serif;
$main-font-size: 20px;
$main-font-weight: 400;

$desktopWidth: 1280px;
$smDesktopWidth: 992px;
$tableWidth: 768px;
$smTableWidth: 640px;
$phoneWidth: 480px;
$smPhoneWidth: 320px;