$text-color: #ffffff;
$black: #000000;
$background-color: #1D1D1D;
$grey: #727272;
$purple: #6d0ec2;
$purple-hover: #3c086b;
$hover-button: #adacacff;

$main-font: "Roboto", sans-serif;
$main-font-size: 20px;
$main-font-weight: 400;

$desktopWidth: 1280px;
$smDesktopWidth: 992px;
$tableWidth: 768px;
$smTableWidth: 640px;
$phoneWidth: 480px;
$smPhoneWidth: 320px;